body {
	background-image: url('../images/bund.png'); 
	background-size: 95%; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}

.navbar {
	background-color: white;
	margin-top: 2.6em;
	margin-left: 32px;
	padding-top: 10px;
	text-decoration: none;
	width:300px;
	min-height: 10px;
	opacity: 0.6;
}

.navbar li{
	display: inline-block;
	list-style-type: none;
	font-color:black;
	text-decoration: none;
	margin-left: 30px;
	text-align: center;

}

.navbar li a{
	list-style-type: none;
	text-decoration: none;
	color: black;
}


.navbar a:hover{
	font-weight:bold;
}

#section {
	background-color: black;
	border-top: solid white 2px;
	border-bottom: solid white 2px;
	margin-top: 49.1%;
	margin-left: 46px;
	margin-right: 46px;
}

#section a{
	text-decoration: none;
	color:white;
	font-family: allegro;
	font-size: 15px;
}

#section a:hover{
	background-color: red;
	font-weight: bold;
	display: block;
	color: black;
}

#section a.link1 {
	background-color: red;
	display: block;
}

#topic {
margin-left: 255px;
margin-top: 175px;
align-content: center;
}

.thumbnail {
background-color: black;
border-color: white;
}

.thumbnail p{
	color:white;
	font-family: allegro;
	font-size: 18px;
}

.thumbnail:hover{
	background-color: white;
}

.thumbnail a:hover{
	text-decoration: none;
}

.thumbnail:hover p{
	color:black;
}



