


body {
	background-image: url('../images/bund.png'); 
	background-size: 95%; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}

.navbar {
	background-color: white;
	margin-top: 2.6em;
	margin-left: 32px;
	padding-top: 10px;
	text-decoration: none;
	width:300px;
	min-height: 10px;
	opacity: 0.5;
}

.navbar li{
	display: inline-block;
	list-style-type: none;
	font-color:black;
	text-decoration: none;
	margin-left: 30px;
	text-align: center;

}

.navbar li a{
	list-style-type: none;
	text-decoration: none;
	color: black;
}


.navbar a:hover{
	font-weight:bold;
}

.title{
	padding-top: 300px;
	padding-left: 32px;
	font-family: lucida handwriting;
}



#section {
	background-color: black;
	border-top: solid white 2px;
	border-bottom: solid white 2px;
	margin-top: 3.9%;
	margin-left: 32px;
	margin-right: 32px;
	position: relative;
}

#section a{
	text-decoration: none;
	color:white;
	font-family: allegro;
	font-size: 15px;
}

#section a:hover{
	background-color: red;
	font-weight: bold;
	display: block;
	color: black;

}

#section a.link1 {
	background-color: red;
	display: block;
}

h1{
	margin-top: 5%;
	text-align: center;
	color: red;
}

.table {
	background: white;
	opacity: 0.8;
	padding-right: 20px;
}

.table-responsive{
	margin-right: 32px;
	margin-left: 32px;
	margin-top: 3%;
}

.table th{
	color:black;
}

p{
	margin-right: 32px;
	margin-left: 32px;
	color: white;
	background-color: black;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top:9%;
	line-height: 2;
}
